<!DOCTYPE html>
<html>
  <head>
    <title>Site Map</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/solution.css')}}"
    />
  </head>
  <body>
    <header><h1>Welcome to the Site</h1></header>
    <header><h3>Site Map</h3></header>
    <table>
      <thead>
        <tr>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        {% for url, endpoint in links %}
        <tr>
          <td><a href="{{ url }}">{{ endpoint }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
